@import compass_twitter_bootstrap

svg
    transition: all 2s

    text
        fill: grey
        font-size: 10px

    /* .axes, .focus 
    /*     opacity: 0
    /*     z-index: 100

    &:hover        
        .axes, .focus 
            opacity: 1
    .axis
        path
            fill: none
        &.x
            color: black
    /* line
    /*     fill: black

    .daylight-graph
        z-index: 0
        fill: lightblue
        opacity: .8

    .overlay
        fill: none
        pointer-events: all

    .focus
        font-weight: bold
        color: grey

        &.sunrise
            fill: yellow
        
        &.sunset
            fill: orange